Release/
Debug/

build.cake
.vs/
*.user
ipch
*.aps
Install/*.exe
Temp
**/obj
Artifacts
# Ignore the tools directory, but not the config file (used to pin Cake version).
tools/*
build/*.cake
build/Properties/launchSettings.json
TestResults

variables.config.json

# Advanced Installer
*-cache
localPublishTarget
